<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-6 mt-5">
            <div class="container ">
                <div class="form-sesion">
                    <div class="form-sesion-header">Iniciar sesión </div>
                    <div class="mail">
                        <div class="input-title-ontop">
                            <div class="input-title">Tu correo</div>
                                <input type="text" class="titleTop megaInputs" name="login-name2" id="login-name2" value="" maxlength="190">
                            <div class="message-container">
                            </div>
                        </div>
                    </div>
                    <div class="password">
                        <div class="input-title-ontop">
                            <div class="input-title">Contraseña</div>
                                <input type="text" class="titleTop megaInputs" name="login-name2" id="login-name2" value="" maxlength="190">
                            <div class="message-container">
                            </div>
                        </div>
                        <div class="lost-password text-right">
                            <fa-icon class="hover-blue mr-1" [icon]="lock"></fa-icon>¿Has olvidado tu contraseña?
                        </div>
                    </div>
                    <div class="row mb-5 mt-3 d-flex align-items-center">
                        <div class="col-6  d-flex justify-content-left ">
                            <div class="login-check checkbox checkboxOff justify-content-start">
                                <input class="checkboxOn megaInputs" type="checkbox" name="login-check2" id="login-check2" checked="checked">
                                <label class="radio-txt ml-1">Recuérdame</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-lg btn-block btn-multitel-blue  justify-content-right" (click)="ngOnSubmit()">
                                {{textForm}} 
                                <fa-icon *ngIf="!loading" class="ml-2" [icon]="icon"></fa-icon>
                                <fa-icon *ngIf="loading" [spin]="true" class="ml-2" [icon]="icon"></fa-icon>

                            </button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-6 mt-5 d-flex justify-content-center align-items-center">
            xxxx
        </div>
    </div>

</div>