<!-- <nav class="navbar navbar-light bg-light">
    <div class="col-6 navbar-brand">
        <a class=" " href="http://www.multitel.com.ve/">
            <img src="assets/logos/logoMultitel.png" width="150em" height="auto">
        </a>
    </div>
    <form class="form-inline">
        <button class="btn btn-sm btn-multitel-orange" (click)="closet()"> 
            <fa-icon class="hover-blue ml-1" [icon]="longArrowLeft"></fa-icon>
            <fa-icon *ngIf="loading" class="hover-blue ml-1" [icon]="iconLoading" [spin]="true"></fa-icon>
             {{textBtn}}
        </button>
        
      </form>
</nav> -->
<!--Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="cursor text-gray">
            <fa-icon mat-button (click)="drawer.toggle()" class="hover-blue ml-1" [icon]="bars"></fa-icon>
        </div>
        <a class="ml-5" href="http://www.multitel.com.ve/">
            <img src="assets/logos/logoMultitel.png" width="150em" height="auto">
        </a>
        <!-- <div class="row iconTwo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="mostrar()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div> -->
        <div id="sidebar" class="d-block d-lg-none">
            <ul class="list-group sidebar">
                <li class="list-group-item border-0 mt-3" >
                    <div class="container-fluid border border-secondary border-top-0 border-left-0 border-right-0 pb-3">
                        <div class="row align-items-center">
                            <div class="col-2 p-0">
                                <img [src]="" class="rounded-circle border border-secondary" alt="" style="width: 60px; height: 60px;">
                            </div>
                            <div class="col-10" style="padding-left: 25px;">
                                <p class="mb-1" style="font-size: 14px; font-weight: bold;">LA EMPESA</p>
                                <p class="m-0" style="font-size: 12px;">PEDRO </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0" >
                    <a class="text-secondary" style="font-size: 1.1rem;">
                        <i class="fas fa-store"></i>
                        &nbsp; Ferias
                    </a>
                </li>
                <li class="list-group-item border-0" >
                    <a class="text-secondary" style="font-size: 1.1rem;">
                        <i class="fas fa-cog"></i>
                        &nbsp; Ajustes de perfil
                    </a>
                </li>
                <li class="list-group-item border-0 logout">
                    <div class="container-fluid border border-secondary border-top-0 border-left-0 border-right-0 pt-0 mb-3"></div>
                    <a (click)="closet()" class="text-secondary" style="font-size: 1.1rem;">
                        <i class="fas fa-sign-out-alt"></i>
                        &nbsp; Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse hidden mt-n4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown text-center">
                    <img class="iconNav" src="{{perfilIcon}}">
                    <a class="nav-link dropdown-toggle textMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Perfil</a>
                    <div class="dropdown-menu cerrarSesion" aria-labelledby="navbarDropdown">
                        <div class="dropdown-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/maleAvatar.png" style="height: 60px; width: 60px; border-radius: 100%;" alt="">
                                </div>
                                <div class="col-md-9 d-flex flex-column align-items-center justify-conter-center">
                                    <p class="text-black" style="margin-bottom: 0px;font-weight: bold;">Pedro Perez</p>
                                    <p style="font-size: 12px; color: #040037; " class="d-flex flex-column">Administrador</p>
                                </div>
                            </div>
                            <hr style="margin-top: 14px; margin-bottom: 10px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <a style="font-size: 14px;font-weight: bold; cursor:pointer;">
                                        <i class="fas fa-cog"></i> &nbsp; Ajustes de perfil
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <a (click)="closet()" style="font-size: 14px;font-weight: bold; cursor:pointer;">
                                        <i class="fas fa-sign-out-alt"></i> &nbsp; Cerrar sesión
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--/.Navbar -->
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <!-- <div class="mt-5  item cursor">
            <fa-icon mat-button class="hover-blue ml-3 mr-2" [icon]="tachometerAlt"></fa-icon> 
            Dashboard
        </div> -->
        <div class="mt-5 item cursor" routerLink="/payments">
            <fa-icon mat-button class="hover-blue ml-3 mr-2" [icon]="cashRegister"></fa-icon> 
            Procesar Pagos
        </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <div class="col-12" style="margin-top: 40px;">
            <app-payments></app-payments>

        </div>
    </div>
  
  </mat-drawer-container>
  