<div class="col-12">
    <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" 
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div class="text-center">
                <img src="{{ slide.img }}" alt="" width="100%">
                <span> {{slide.contract }}</span>
            </div>
        </div>
    </ngx-slick-carousel>
</div>
<div class="col-12 mt-5">
    <div class="col-4" style="border: solid 2px red;">
        imagen
    </div>
    
</div>