


.card
    border: solid 1px #fff
.card:hover,
.card:focus
    border: solid 1px orange

.product
    padding: 5px


.slide
    width: 100%
.carousel-grid
    display: grid
    display: -ms-grid
    -ms-grid-columns: 2fr 1fr 1fr 2fr
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 
    .item-2
        width: 100%
        -ms-grid-column: 1
        -ms-grid-column-span: 4
        grid-column: 2 / span 3
.card
    margin-left: 15px


@media (min-width: 200px)
    .star
        font-size: 1em
    .bestSeller-grid-300 
        display: grid
        grid-template-columns: 5% 1fr 9em 1fr 5%
        grid-template-areas: 'marginLeft image Title1 Title2 marginRight' 'marginLeft image Title3 Title4 marginRight'
    .bestSeller-image 
        grid-area: image

    .bestSeller-title-1 
        grid-area: Title1

    .bestSeller-title-2 
        grid-area: Title2

    .bestSeller-title-3 
        grid-area: Title3

    .bestSeller-title-4 
        grid-area: Title4


@media (min-width: 576px) 
.bestSeller-body
    grid-template-columns: 0% repeat(5, 1fr) 0%
    grid-template-areas: 'marginL  logo   title1 marginR' 'marginL logo    title2 marginR''marginL   products products products marginR'

.ml-40px
    margin-left: 40px
.textSize-2-3em
    font-size: 1.3em
.textSize-1-3em
    font-size: 0.72em
.item1-position
    transform: translate(-115%, -176%)
.item2-position
    transform: translate(-15%, -176%)


@media (min-width: 768px) 


@media (min-width: 992px) 


@media (min-width: 1200px)
    .logo-bestSeller
        width: 12em
        height: 5em
    .font-size-0-8em
        font-size: 1.1em
    .font-size-1-5em
        font-size: 1.9em
    .ml-40px
        margin-left: 33px
    .ml-n40px
        margin-left: -25px
    .ml-1px
        margin-left: 12px
























