html, body 
	font-family: 'Roboto', sans-serif !important

$orange: #ff751b 
$blue: #003da6


.btn-multitel-blue 
	color: #fff
	background-color: $blue
	border-color: $blue
.btn-multitel-blue:hover
	color: #e0dbdb
	background-color: #3579f1
	border-color: $blue

.btn-multitel-orange 
	color: #fff
	background-color: $orange
	border-color: $orange

.btn-multitel-orange:hover
	color: #fff
	background-color: #f76437
	border-color: $orange

.btn-logo
	width: 18px
	height: auto

.form-sesion
	box-sizing: border-box
	background-color: rgb(255, 255, 255)
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px
	text-align: center
	border-width: 1px
	border-style: solid
	border-color: rgba(0, 0, 0, 0.05)
	border-image: initial
	border-radius: 8px
	padding: 4px 48px 0px
    
.form-sesion-header
	font-weight: 100
	font-size: 28px
	line-height: 44px
	color: rgb(51, 51, 51)
	padding: 48px 0px 40px


.input-title-ontop 
	height: 56px
	position: relative
	width: 100%
	display: inline-block
	vertical-align: top
	box-sizing: border-box
	white-space: nowrap
	padding-top: 24px
	text-align: left
	margin: 0px 0px 20px
	transition: margin 200ms ease-in-out 0s
.input-title-ontop .input-title 
	font-size: 14px
	line-height: 20px
	color: rgb(153, 153, 153)
	display: inline-block
	position: absolute
	left: 4px
	top: 27px
	padding-top: 0px
	z-index: 10
	transition: font-size 0.2s ease-in 0s, color 0.2s ease-in 0s, top 0.2s cubic-bezier(0.4, 0, 1, 1) 0s
.active
	color: rgb(170, 170, 170) !important
	top: 0 !important
	font-size: 13px !important
	margin-left: 0 !important
.input-title-ontop input, .input-title-ontop .dialog-input 
	font-size: 16px
	color: rgb(51, 51, 51)
	height: 24px
	line-height: 24px
	width: 100%
	box-sizing: border-box
	white-space: nowrap
	text-overflow: ellipsis
	background-color: rgba(255, 255, 255, 0.1)
	cursor: text
	position: relative
	z-index: 11
	border-width: initial
	border-style: none
	border-color: initial
	border-image: initial
	padding: 0px 8px 0px 4px
.input-title-ontop .message-container 
	font-size: 13px
	padding-top: 4px
	white-space: normal
	text-overflow: ellipsis
	position: absolute
	top: 56px
	left: 4px
	width: calc(100% - 8px)
	display: none
	text-align: left
	color: rgb(136, 136, 136)
.input-title-ontop::after 
	content: " "
	width: 100%
	height: 1px
	bottom: 0px
	left: 0px
	background-color: rgba(0, 0, 0, 0.2)
	position: absolute
	transition: background-color 0.2s linear 0s
.lost-password
	font-weight: 400
	font-size: 13px
	color: rgb(153, 153, 153)
	line-height: 21px
	cursor: pointer
	transition: color 150ms ease-in-out 0s
.lost-password:hover
	color: $orange	

.radio-txt
	font-weight: 400
	font-size: 13px
	line-height: 21px
	color: rgb(153, 153, 153)
.selectCustom
	border: none
	background: none
	font-size: 14px
	line-height: 20px
	color: rgb(51, 51, 51)

.text-blue
	color: $blue
.text-orange
	color: $orange
.text-black
	color: rgba(0, 0, 0, 0.2)
.text-gray
	color: rgba(0,0,0,.5)




.cursor
	cursor: pointer







.ml-30
	margin-left: 30px


