<nav class="navbar navbar-light bg-light">
    <div class="col-6 navbar-brand">
        <a class=" " href="http://www.multitel.com.ve/">
            <img src="assets/logos/logoMultitel.png" width="150em" height="auto">
        </a>
    </div>
    <form class="form-inline">
        <button class="btn btn-sm btn-multitel-orange" (click)="register()"> 
            <img *ngIf="!loading"  class="btn-logo" src="assets/icons/icon.png">
            <fa-icon *ngIf="loading" class="hover-blue ml-1" [icon]="iconLoading" [spin]="true"></fa-icon>
             {{textBtn}}
        </button>
        
      </form>
</nav>

