<!-- <nav class="navbar navbar-light bg-light">
    <div class="col-6 navbar-brand">
        <a class=" " href="http://www.multitel.com.ve/">
            <img src="assets/logos/logoMultitel.png" width="150em" height="auto">
        </a>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-multitel-blue btn-sm" placement="bottom"
            ngbPopover="" (click)="open(content)">
            Iniciar sesión
        </button>
    </form>
</nav>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <div class="top-login-full"></div>
        </button>
    </div>
        <div class="modal-body">
        <p>Hello, World!</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-multitel-orange btn-sm" (click)="c('Save click')">Ingresar</button>
        </div>
</ng-template>


 -->

<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand font-bold" href="#">
            <img class="logoHeader" src="assets/logos/logoMultitel.png" alt="">
        </a>
        <div class="row iconTwo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="mostrar()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="sidebar" class="d-block d-lg-none ">
            <ul class="list-group sidebar bt-blue">
                <li class="list-group-item border-0 mt-3" >
                    <div class="container-fluid border border-secondary border-top-0 border-left-0 border-right-0 pb-3">
                        <div class="row align-items-center">
                            <div class="col-2 p-0">
                                <img [src]="DATA.Logo" class="rounded-circle border border-secondary" alt="" style="width: 60px; height: 60px;">
                            </div>
                            <div class="col-10" style="padding-left: 25px;">
                                <p class="mb-1" style="font-size: 14px; font-weight: bold;">{{DATA.NombreComercial}}</p>
                                <p class="m-0" style="font-size: 12px;">{{DATA.Usuario}}</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0" >
                    <a class="text-secondary" style="font-size: 1.1rem;">
                        <i class="fas fa-store"></i>
                        &nbsp; item RESP1
                    </a>
                </li>
                <li class="list-group-item border-0" >
                    <a class="text-secondary" style="font-size: 1.1rem;">
                        <i class="fas fa-cog"></i>
                        &nbsp; item RESP2
                    </a>
                </li>
                <li class="list-group-item border-0 logout">
                    <div class="container-fluid border border-secondary border-top-0 border-left-0 border-right-0 pt-0 mb-3"></div>
                    <a (click)="closet()" class="text-secondary" style="font-size: 1.1rem;">
                        <i class="fas fa-sign-out-alt"></i>
                        &nbsp; item RESP3
                    </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse hidden">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-center">
                    <img class="iconNav" src="{{inicioIcon}}">
                    <a class="nav-link textMenu" href="#">Inicio</a>
                </li>
                <li class="nav-item text-center">
                    <img class="iconNav" src="{{negocioIcon}}">
                    <a class="nav-link textMenu" href="#">Negocios</a>
                </li>
                <li class="nav-item text-center">
                    <img class="iconNav" src="{{mensajeIcon}}">
                    <a class="nav-link textMenu" href="#">Mensajes</a>
                </li>
                <li class="nav-item text-center">
                    <img class="iconNav" src="{{servicioIcon}}">
                    <a class="nav-link textMenu" href="#">Servicios</a>
                </li>
                <li class="nav-item text-center">
                    <img class="iconNav" src="{{notificacionIcon}}">
                    <a class="nav-link textMenu" href="#">Notificaciones</a>
                </li>
                <li class="nav-item dropdown text-center">
                    <img class="iconNav" src="{{perfilIcon}}">
                    <a class="nav-link dropdown-toggle textMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Perfil</a>
                    <div class="dropdown-menu cerrarSesion" aria-labelledby="navbarDropdown">
                        <div class="dropdown-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <img [src]="DATA.Logo" style="height: 60px; width: 60px; border-radius: 100%;" alt="">
                                </div>
                                <div class="col-md-9">
                                    <p style="margin-bottom: 0px;font-size: 14px;font-weight: bold;color: #040037;">{{DATA.NombreComercial}}</p>
                                    <p style="font-size: 12px; color: #040037;">{{DATA.Usuario}}</p>
                                </div>
                            </div>
                            <hr style="margin-top: 14px; margin-bottom: 10px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <a style="font-size: 14px;font-weight: bold; cursor:pointer;">
                                        <i class="fas fa-cog"></i> &nbsp; Ajustes de perfil
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <a (click)="closet()" style="font-size: 14px;font-weight: bold; cursor:pointer;">
                                        <i class="fas fa-sign-out-alt"></i> &nbsp; Cerrar sesión
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--/.Navbar -->














