@import "../../styles.sass"

.navbar
    border-bottom: solid 2px $orange

.modal-header
    border-bottom-color: $blue
.modal-footer
    border-top-color: $blue

.modal-backdrop
    background-color: none !important

.agexColor
  background-color: #040037
  padding-top: 5px
  padding-bottom: 5px

.bt-blue
    border-top-color: rgb(0, 61, 166) !important
    border-top-style: solid !important
    border-top-width: 2px !important




.effect
  height: calc(100vh - 50px)
  width: 100%
  background: #fff
  position: fixed
  left: -100%
  top: 50px
  transition: 0.1s

.bottom
  margin-top: 60vh

.opt-movil
  visibility: hidden

.navbar-dark .navbar-nav .nav-link
  color: #ffffff

.logoHeaderRegister
  width: 100px

.iconNav
  width: 20px

.textMenu
  font-size: 12px
  line-height: 3px

.logoHeader
  width: 180px
  

.iconCam
  margin-left: 16px

.navbar-movil
  overflow: hidden
  position: fixed
  bottom: 0
  width: 100%

.movilText
  font-size: 12px
  color: red

.movilNav
  visibility: hidden

.iconTwo
  margin-left: 50px !important

.cerrarSesion
  width: 306px
  left: -241px

#sidebar
  background: #fff
  height: calc(100vh - 100px)
  width: 100%
  position: fixed
  left: -100%
  top: 50px
  bottom: 50px
  transition: all ease 0.25s

.active
  left: 0 !important
  transition: all ease 0.25s

.list-group-item
  background: transparent

.logout
  width: 100%
  position: absolute
  bottom: 1px

.dropdown-item.active, .dropdown-item:active
  background-color: transparent 

@media only screen and (max-width: 768px)
    .opt-movil
        visibility: visible !important

    .movilNav
        visibility: visible !important
