<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mt-5">
            <div class="container ">
                <div class="form-sesion">
                    <div class="form-sesion-header">Crea tu cuenta <span class="text-orange">Multi</span> <span class="text-blue">tel </span> <b>Online</b></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-title-ontop">
                                <div class="input-title ml-30" [ngClass]="{'titleTop': !active, 'titleTop active': active}">Documento de identidad</div>
                                <select class="selectCustom">
                                    <option value="">V</option>
                                    <option value="">E</option>
                                    <option value="">J</option>
                                </select>
                                    <input type="text" class="titleTop active" name="login-name2" id="login-name2" value="" maxlength="190" (focus)="Active()">
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Nombre</div>
                                    <input type="text" class="titleTop" name="login-name2" id="login-name2" value="Pedro" maxlength="190" disabled> 
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Apellido</div>
                                    <input type="text" class="titleTop" name="login-name2" id="login-name2" value="Perez" maxlength="190" disabled>
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Fecha de nacimiento</div>
                                    <input type="date" id="start" name="trip-start"
                                    value="1994-07-22"
                                    max="2020-12-31">
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Sexo</div>
                                <div class="row">
                                    <div class="col-6">
                                        <input class="mr-n5" type="radio" id="woman" name="genero" checked>
                                        <label class="ml-n2" for="woman"><span></span>Mujer</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="mr-n5" type="radio" id="man" name="genero" checked>
                                        <label class="ml-n2" for="man"><span></span>Hombre</label>
                                    </div>
                                </div>
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-md-block col-md-6"></div>
                        <div class="col-12 col-md-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Estado Civil</div>
                                <select class="selectCustom w-100">
                                    <option value="">Soltero/a</option>
                                    <option value="">Casado/a</option>
                                    <option value="">Viudo/a</option>
                                </select>
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="password">
                                <div class="input-title-ontop">
                                    <div class="input-title">Contraseña</div>
                                        <input type="text" class="titleTop megaInputs" name="login-name2" id="login-name2" value="" maxlength="190">
                                    <div class="message-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="password">
                                <div class="input-title-ontop">
                                    <div class="input-title">Vuelva a escribir la contraseña</div>
                                        <input type="text" class="titleTop megaInputs" name="login-name2" id="login-name2" value="" maxlength="190">
                                    <div class="message-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row d-flex align-items-center">
                                <div class="col-12  d-flex ">
                                    <div class="login-check checkbox checkboxOff justify-content-start">
                                        <input class="checkboxOn megaInputs" type="checkbox" name="login-check2" id="login-check2" checked="checked">
                                        <label class="radio-txt ml-1">Acepto los <a href="#"><span class="text-orange">Términos de servicio</span></a> de Multitel Online</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mail">

                    </div>

                    <div class="row mb-5 mt-3 d-flex align-items-center justify-content-center">
                        <div class="col-12 col-md-6">
                            <button class="btn btn-lg btn-block btn-multitel-blue  justify-content-right" (click)="ngOnSubmit()">
                                {{textForm}} 
                                <fa-icon *ngIf="!loading" class="ml-2" [icon]="icon"></fa-icon>
                                <fa-icon *ngIf="loading" [spin]="true" class="ml-2" [icon]="icon"></fa-icon>

                            </button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="d-none d-sm-none d-md-block mt-5 d-flex justify-content-center align-items-center">
            xxxx
        </div>
    </div>

</div>